__*__*
*.pkl
*.pyc
.idea/*
.vscode/*
*/plots/*
*/plots/temp/*
data/trained-models/video/*
data/trained-models/audio/*
nohup.out
data/video/*80classes*